extend componentes/plantilla.pug
block contenidos
	div.sidebar
		include componentes/sidebar.pug
	div.main-primary
		div.info
			h2 #{titulos[0]}
			p
				| Lorem ipsum dolor sit amet
				| consectetur adipiscing elit. 
				| Proin ex mi, gravida sit amet 
				| imperdiet vel, sodales a mi. 
				| Proin sit amet tellus nec nisl 
				| bibendum ornare nec at augue. 
				| Integer semper feugiat varius.
			p
				| Lorem ipsum dolor sit amet
				| consectetur adipiscing elit. 
				| Proin ex mi, gravida sit amet 
				| imperdiet vel, sodales a mi. 
				| Proin sit amet tellus nec nisl 
				| bibendum ornare nec at augue. 
				| Integer semper feugiat varius.	
				
				
			a.boton VER MAS
	




